.home {
  padding: 0 2rem;

  &__search-bar {
    display: block;
    width: 700px;
    margin: 3rem auto;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    border: 1px solid #666;
    border-radius: 12px;
  }

  & .load-btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    min-height: 200px;
  }
}
