@import '../styles/mixins';

* {
  font-family: 'Roboto', sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  & .logo {
    font-size: 1.8rem;
  }
}

.main-nav {
  padding: 0 1rem;

  & > * {
    margin: 0 1rem;
  }
}

.container {
  width: 100%;
  padding: 0 12%;
}

.react-icons {
  vertical-align: middle;
}

@include mq-x-large {
  .container {
    padding: 0 4%;
  }
}

@include mq-medium {
  .main-header {
    flex-direction: column;
  }

  .main-nav {
    margin-top: 1rem;
  }

  .container {
    padding: 0 6%;
  }
}

@include mq-mobile {
  html {
    font-size: 14px;
  }

  .main-header {
    & .logo {
      font-size: 1.5rem;
    }
  }

  .container {
    padding: 0 1rem;
  }
}
