.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  & .logo {
    font-size: 1.8rem;
  }
}

.main-nav {
  padding: 0 1rem;

  & > * {
    margin-right: 2rem;
  }
}
